*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*para que los bordes dados se respeten*/
}

body{
	font-family: 'Montserrat';
	font-size: 16px;
}

header{
	background-color: #A9A7A5;
	position: fixed;
	width: 100%;
	top: 0;
}

.menu{
	width: 90%;
	max-width: 1200px; /*establece el máximo que se ve el menú de la pantalla*/
	margin: auto;
	display: flex; /*hacer más adaptativas las pestañas cuando cambie el margen de los dispositivos*/
	flex-direction: row; /*establecemos la dirección de las pestañas*/
	justify-content: space-between;/*establece el espacio de las pestañas en el menu*/
	align-items: center;
}

.menu .logo{
	display: inline-block;
	margin-right: 5px;
}

.menu .logo img{
	vertical-align: top;	
}

.menu .btn-menu{
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
}

.menu .logo:hover{
	background: #A9A7A5;
}

.menu .pestanas{
	display: inline-block;
	text-align: right;
}

.menu .pestanas a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	margin-right: 100px;	
}

.menu .pestanas i{
	margin-right: 3px;
}

.menu .pestanas a:hover{
	background: #F09235;
	color: white;
	padding: 25px 40px;
}

/*parte de la animación del javascript*/
.headroom{
	transition: transform .3s ease; /*hace que el menú se oculte*/
}

.headroom--pinned{
	transform: translateY(0%);/*Esto hace que el menú se quede fijo en el navegador*/
}

.headroom--unpinned{
	transform: translateY(-100%);/*esto hace que se oculte sobre el margen top para que se oculte*/
}